        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Students</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('student_new') }}" title="Nuevo banner">New</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a href="{{ path('program') }}" class="btn btn-default" aria-expanded="false">Programs</a>
        </div>

        <div class="btn-group">
            <a href="{{ path('schedule') }}" class="btn btn-default" aria-expanded="false">Schedules</a>
        </div>

        <div class="btn-group">
            <a href="{{ path('locker') }}" class="btn btn-default" aria-expanded="false">Lockers</a>
        </div>

		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Reports</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{{ path('report_attendance_sheet') }}" title="Nuevo banner">Attendance Sheet</a></li>
				<li><a href="#" title="Nueva Oferta">Class List</a></li>
				<li><a href="#" title="Nueva Oferta">Student Id</a></li>
			</ul>
		</div>

