{% extends '::base.html.twig' %}
{% set loa = '4' %} {#Status: Leave of Absence#}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Student Information</h1>
        </div>
    </div>

    <form action="{% block formAction %}{% endblock %}" method="post" {{ form_enctype(form) }}>
    {% block hidden %}
        <input type="hidden" name="_method" value="PUT" />
    {% endblock %}

        <div class="row">
            <div class="col-lg-12">
                <div role="tabpanel" style="margin-top:15px;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" id="l001"  class="limenu active"><a href="#tab001" role="tab" data-toggle="tab">General</a></li>
                        <li role="presentation" id="l002" class="limenu"><a href="#tab002" role="tab" data-toggle="tab">Enrollment</a></li>
                        <li role="presentation" id="l003" class="limenu"><a href="#tab003" role="tab" data-toggle="tab">Financial</a></li>
                        <li role="presentation" id="l004" class="limenu"><a href="#tab004" role="tab" data-toggle="tab">Student Services</a></li>
                        {% if app.request.get('_route') == 'student_edit' %}
                            {% if entity.graduated %}
                                <li role="presentation" id="l005" class="limenu"><a href="#tab005" role="tab" data-toggle="tab">Graduated</a></li>
                            {% endif %}
                            {% if entity.dropInfo %}
                                <li role="presentation" id="l006" class="limenu"><a href="#tab006" role="tab" data-toggle="tab">Dropped</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>

                    <input type="submit" value="Save" class="btn btn-default active pull-right" id="submit-btn">


                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- General -->
                        <div role="tabpanel" class="tab-pane" id="tab001">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contacto-title" style="border-bottom: 1px solid #CCC;">General Information</h4>
                                    </div>
                                </div>

                                <!-- Image -->
                                <div class="row col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Image:</label>
                                        <div class="col-sm-9">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width:100px; height:100px;">
                                                    {% if entity.picture %}
                                                        <img alt="perfil" src="{{ asset(entity.WebPath) }}">
                                                    {% else %}
                                                        <img alt="perfil" src="{{ asset('media/images/bg-select-image.png') }}">
                                                    {% endif %}
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width:100px; min-width:100px; max-height:100px;"></div>

                                                <div>
                                                <p class="help-block">Image should be 100x100 in .jpg .gif o .png format.</p>
											    <span class="btn btn-default btn-file text-normal"><span class="fileinput-new">Select Picture</span>


                                                <span class="fileinput-exists">Change</span>
                                                {{ form_widget(form.file) }}
											    </span>
                                                    <a href="#" class="btn btn-default text-normal fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">CV#:</label>
                                            <div class="col-sm-9">{{ form_widget(form.cv) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">First Name:</label>
                                            <div class="col-sm-9">{{ form_widget(form.firstName) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Last Name:</label>
                                            <div class="col-sm-9">{{ form_widget(form.lastName) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Home Phone:</label>
                                            <div class="col-sm-9">{{ form_widget(form.homePhone) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Cell Phone:</label>
                                            <div class="col-sm-9">{{ form_widget(form.cellPhone) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email:</label>
                                            <div class="col-sm-9">{{ form_widget(form.email) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Address:</label>
                                            <div class="col-sm-9">{{ form_widget(form.address) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">City:</label>
                                            <div class="col-sm-9">{{ form_widget(form.city) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">State:</label>
                                            <div class="col-sm-9">{{ form_widget(form.state) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Zip Code:</label>
                                            <div class="col-sm-9">{{ form_widget(form.zip) }}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Enrollment -->
                        <div role="tabpanel" class="tab-pane active" id="tab002">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contacto-title" style="border-bottom: 1px solid #CCC;">Enrollment Information</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Program:</label>
                                            <div class="col-sm-9">{{ form_widget(form.programs) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Schedule:</label>
                                            <div class="col-sm-9">{{ form_widget(form.schedules) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">E/O:</label>
                                            <div class="col-sm-9">{{ form_widget(form.eo) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Comments:</label>
                                            <div class="col-sm-9">{{ form_widget(form.comments) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 date startDate">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Start Date:</label>
                                            <div class="col-sm-9">
                                                {{ form_widget(form.startDate) }}
                                                <span class="add-on"><i class="icon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 date endDate">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">End Date:</label>
                                            <div class="col-sm-9">
                                                {{ form_widget(form.endDate) }}
                                                <span class="add-on"><i class="icon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 date enrollmentDate">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Enrollment Date:</label>
                                            <div class="col-sm-9">
                                                {{ form_widget(form.enrollmentDate) }}
                                                <span class="add-on"><i class="icon-th"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Financial -->
                        <div role="tabpanel" class="tab-pane active" id="tab003">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contacto-title" style="border-bottom: 1px solid #CCC;">Financial Information</h4>
                                    </div>
                                </div>
                                <div class="row">
                                      <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Plan Amount:</label>
                                            <div class="col-sm-9">{{ form_widget(form.paymentPlanAmount) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">FAFSA:</label>
                                            <div class="col-sm-9">{{ form_widget(form.fafsa) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Student Services -->
                        <div role="tabpanel" class="tab-pane active" id="tab004">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contacto-title" style="border-bottom: 1px solid #CCC;">Student Services Information</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Status:</label>
                                            <div class="col-sm-9">{{ form_widget(form.status) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Locker:</label>
                                            <div class="col-sm-9">{{ form_widget(form.locker) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Location:</label>
                                            <div class="col-sm-9">{{ form_widget(form.location) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Comments:</label>
                                            <div class="col-sm-9">{{ form_widget(form.commentsStudentServices) }}</div>
                                        </div>
                                    </div>

                                    {% if app.request.get('_route') == 'student_edit' %}
                                        {% set value =  'N/A' %}
                                        {% if entity.graduated %}
                                            {% set value =  entity.graduated.diplomaPrinted | date('Y/m/d') %}
                                        {% endif %}
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Diploma Printed:</label>
                                                <div class="col-sm-9"><input type="text" value="{{ value }}" readonly class="form-control"/> </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">CVS:</label>
                                            <div class="col-sm-9">{{ form_widget(form.cvs) }}</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Signed Request Form:</label>
                                            <div class="col-sm-9">{{ form_widget(form.signedRequest) }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div id="leaveOfAbsence">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="contacto-title" style="border-bottom: 1px solid #CCC;">Leave of Absence</h4>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-6 date absenceStarting">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Starting Date:</label>
                                                <div class="col-sm-9">
                                                    {{ form_widget(form.absenceStarting) }}
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 date absenceEnding">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Ending Date:</label>
                                                <div class="col-sm-9">
                                                    {{ form_widget(form.absenceEnding) }}
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% if app.request.get('_route') == 'student_edit' %}
                                    {% if not entity.dropInfo %}
                                        <a href="{{ path( 'student_drop', {'id' : entity.id}) }}" class="btn btn-default">Drop</a>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>

                        {% if app.request.get('_route') == 'student_edit' %}
                            {% if entity.graduated %}
                            <!-- Graduated -->
                                <div role="tabpanel" class="tab-pane active" id="tab005">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="contacto-title" style="border-bottom: 1px solid #CCC;">Graduated Information</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Company Name:</label>
                                                <div class="col-sm-9">{{ form_widget(form.graduated.companyName) }}</div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 date startWorkingDate">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Start Working Date:</label>
                                                <div class="col-sm-9">
                                                    {{ form_widget(form.graduated.startWorking) }}
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Supervisor Phone:</label>
                                                <div class="col-sm-9">{{ form_widget(form.graduated.supervisorPhone) }}</div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 date diplomaPrintedDate">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Printed Diploma Date:</label>
                                                <div class="col-sm-9">
                                                    {{ form_widget(form.graduated.diplomaPrinted) }}
                                                    <span class="add-on"><i class="icon-th"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Employment Status:</label>
                                                <div class="col-sm-9">{{ form_widget(form.graduated.employmentStatus) }}</div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Job Title:</label>
                                                <div class="col-sm-9">{{ form_widget(form.graduated.jobTitle) }}</div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Supervisor Name:</label>
                                                <div class="col-sm-9">{{ form_widget(form.graduated.supervisorName) }}</div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Employeer Address:</label>
                                                <div class="col-sm-9">{{ form_widget(form.graduated.employerAddress) }}</div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Licensed:</label>
                                                <div class="col-sm-9">{{ form_widget(form.graduated.licensed) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if entity.dropInfo %}
                                <!-- Dropped -->
                                <div role="tabpanel" class="tab-pane active" id="tab006">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="contacto-title" style="border-bottom: 1px solid #CCC;">Drop Information</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Amount:</label>
                                                    <div class="col-sm-9">{{ form_widget(form.dropInfo.amount) }}</div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Check:</label>
                                                    <div class="col-sm-9">{{ form_widget(form.dropInfo.check) }}</div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 date dropDate">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Date:</label>
                                                    <div class="col-sm-9">
                                                        {{ form_widget(form.dropInfo.date) }}
                                                        <span class="add-on"><i class="icon-th"></i></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Refund:</label>
                                                    <div class="col-sm-9">{{ form_widget(form.dropInfo.refund) }}</div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Paid:</label>
                                                    <div class="col-sm-9">{{ form_widget(form.dropInfo.paid) }}</div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Comments:</label>
                                                    <div class="col-sm-9">{{ form_widget(form.dropInfo.comments, {'attr' : {'rows' : 5}} ) }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
     </form>

{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript">

        function activateTab(tabId){
            $('.tab-pane').removeClass('active');
            $('.limenu').removeClass('active');
            $('#tab00'+tabId).addClass('active');
            $('#l00'+tabId).addClass('active');
        }

        function validateForm(){

            if ($('#student_startDate').val() == '' || $('#student_endDate').val() == '') {
                activateTab('2');
            }

            if ($('#student_graduated_startWorking').val() == '' || $('#student_graduated_diplomaPrinted').val() == '') {
                activateTab('5');
            }

            if ($('#student_dropInfo_date').val() == '') {
                activateTab('6');
            }
        }

        $(document).ready(function() {

            var programs = $('#student_programs');
            var schedules = $('#student_schedules');
            var status = $('#student_status');
            var absenceSection = $('#leaveOfAbsence');

            activateTab('1');

//            $("#student_locker option[value="+$('')+"]").attr("selected","selected");

            $('#submit-btn').click(function(){
                validateForm();
            });

            programs.change(function(){
                ajaxGetSchedules(programs, schedules, getSelectedComma(), '{{ path('ajax_schedules') }}');
            });

            absenceSection.hide();

            {% if entity.status == loa %}
                absenceSection.fadeIn()
            {% endif %}

            status.change(function(){
                if (status.val() == 4) absenceSection.fadeIn(); else
                absenceSection.hide();
            });

            $(".startDate").datetimepicker({
                format: "yyyy/mm/dd",
                linkField: "student_startDate",
                linkFormat: "yyyy/mm/dd"
            });

            $(".endDate").datetimepicker({
                format: "yyyy/mm/dd",
                linkField: "student_endDate",
                linkFormat: "yyyy/mm/dd"
            });

            $(".dropDate").datetimepicker({
                format: "yyyy/mm/dd",
                linkField: "student_dropInfo_date",
                linkFormat: "yyyy/mm/dd"
            });

            $(".diplomaPrintedDate").datetimepicker({
                format: "yyyy/mm/dd",
                linkField: "alm_rosterbundle_graduated_diplomaPrinted",
                linkFormat: "yyyy/mm/dd"
            });

            $(".startWorkingDate").datetimepicker({
                format: "yyyy/mm/dd",
                linkField: "alm_rosterbundle_graduated_startWorking",
                linkFormat: "yyyy/mm/dd"
            });

            $(".enrollmentDate").datetimepicker({
                format: "yyyy/mm/dd",
                linkField: "student_enrollmentDate",
                linkFormat: "yyyy/mm/dd"
            });

            $(".absenceStarting").datetimepicker({
                format: "yyyy/mm/dd",
                linkField: "student_absenceStarting",
                linkFormat: "yyyy/mm/dd"
            });

            $(".absenceEnding").datetimepicker({
                format: "yyyy/mm/dd",
                linkField: "student_absenceEnding",
                linkFormat: "yyyy/mm/dd"
            });


        });
    </script>

{% endblock %}
