{% extends '@Roster/Form/index-layout.html.twig' %}

{% block confirm_delete %}Confirm deleting this student?{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Es hora de trabajar!</h1>
            <p>El contacto es la herramienta importante... <strong class="text-primary">entre ellos y nosostros!</strong> <a href="{{ path('student_new') }}" class="btn btn-default active pull-right text-normal"><span class="glyphicon glyphicon-plus"></span> Add Student</a></p>
        </div>
    </div>
{% endblock %}

{% block table_header %}
    <th>Image</th>
    <th>Name</th>
    <th>Program</th>
    <th>Schedule</th>
    <th>Email</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
{% endblock %}

{% block table_body %}

    <td>
        {#{% if entity.picture %}#}
            {#<img src="{{ asset(entity.webPath) }}" class="img-thumbnail" width="100" />#}
        {#{% else %}#}
            {#<img src="{{ asset('media/images/bg-select-image.png') }}" class="img-thumbnail" width="100" />#}
        {#{% endif %}#}
    </td>
    <td>{{ entity }}</td>
    <td>{{ entity.programsText }}</td>
    <td>{{ entity.schedulesText }}</td>
    <td>{{ entity.email }}</td>
    <td>{{ entity.startDate | date('Y-m-d') }}</td>
    <td>{{ entity.endDate | date('Y-m-d') }}</td>
{% endblock %}


{% block paginationText %}Sucursales{% endblock %}