{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Student</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Homephone</th>
                <td>{{ entity.homePhone }}</td>
            </tr>
            <tr>
                <th>Bussinessphone</th>
                <td>{{ entity.bussinessPhone }}</td>
            </tr>
            <tr>
                <th>Cellphone</th>
                <td>{{ entity.cellPhone }}</td>
            </tr>
            <tr>
                <th>Faxnumber</th>
                <td>{{ entity.faxNumber }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ entity.picture }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ entity.zip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Credittrans</th>
                <td>{{ entity.creditTrans }}</td>
            </tr>
            <tr>
                <th>Refered</th>
                <td>{{ entity.refered }}</td>
            </tr>
            <tr>
                <th>Webpage</th>
                <td>{{ entity.webPage }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ entity.notes }}</td>
            </tr>
            <tr>
                <th>Attachment</th>
                <td>{{ entity.attachment }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ entity.comments }}</td>
            </tr>
            <tr>
                <th>Emergencycontactname</th>
                <td>{{ entity.emergencyContactName }}</td>
            </tr>
            <tr>
                <th>Emergencycontactphone1</th>
                <td>{{ entity.emergencyContactPhone1 }}</td>
            </tr>
            <tr>
                <th>Emergencycontactphone2</th>
                <td>{{ entity.emergencyContactPhone2 }}</td>
            </tr>
            <tr>
                <th>Emergencycontactphone3</th>
                <td>{{ entity.emergencyContactPhone3 }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ entity.cv }}</td>
            </tr>
            <tr>
                <th>Cvs</th>
                <td>{{ entity.cvs }}</td>
            </tr>
            <tr>
                <th>Middleinitial</th>
                <td>{{ entity.middleInitial }}</td>
            </tr>
            <tr>
                <th>Paymentinfo</th>
                <td>{{ entity.paymentInfo }}</td>
            </tr>
            <tr>
                <th>Paymentplanamount</th>
                <td>{{ entity.paymentPlanAmount }}</td>
            </tr>
            <tr>
                <th>Eo</th>
                <td>{{ entity.eo }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
