{% extends '::base.html.twig' %}

{% block body -%}

	<div class="row" style="margin-top:20px;">
		<div class="col-sm-12">
			<h2 class="contacto-title">Change Password</h2>
		</div>
	</div>

	{% if (form_errors(form)) %}
		<div class="alert alert-danger" style="margin-top: 10px;">
			{{ form_errors(form) }}
		</div>
	{% endif %}

	<form action="{{ path('usuario_change_password', {'id' : entity.id}) }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<div class="row" style="margin-top:15px;">
			<div class="col-sm-9 col-sm-offset-2">
				<div class="form-group">
					<a href="{{ path('usuario') }}" class="btn btn-default active">Cancel</a>
					<input type="submit" class="btn btn-default active" value="Save">
				</div>
			</div>
		</div>
	</form>
{% endblock %}



