{% extends '@Roster/Form/index-layout.html.twig' %}

{% block confirm_delete %}Confirm deleting this schedule?{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-lg-12">
           <a href="{{ path('schedule_new') }}" class="btn btn-default active pull-right text-normal"><span class="glyphicon glyphicon-plus"></span> Add Schedule</a></p>
        </div>
    </div>
{% endblock %}

{% block table_header %}
    <th>Name</th>
    <th>Slug</th>
    <th>Languages</th>
    <th>Program</th>
    <th></th>
{% endblock %}

{% block table_body %}
    <td>{{ entity }}</td>
    <td>{{ entity.slug }}</td>
    <td>{{ entity.languages }}</td>
    <td>{{ entity.program }}</td>
{% endblock %}


{% block paginationText %}Schedules{% endblock %}